<h1>Users#show</h1>

<p><%= @user.id %></p>

<%= link_to "New post", new_post_url(:user_id => @user.id) %>

<% if !@user.posts.empty? %>
<ul>
  <% @user.posts.reverse.each do |post| %>
 <li>  <%= post.message %> </li>
<li>  <%= post.created_at %> </li>
   <li id="user_id"> <%= post.user.id %> </li>
   <li> <% post.comments.each do |comment| %>
     <li> <%= comment.comment %> </li>
     <% end %>
   </li>
   <li><%= link_to "Comment", new_comment_url(post_id: post.id, user_id: @user.id) %></li>
  <% end %>
</ul>
  <% end %>
